<script src="__PUBLIC__/js/sc.js"></script>
</head>
<body>


<div id="container">
<FORM id="signupForm" method="post" action="/index.php/Home/DbOpt/save">

    <div id="main">
        <INPUT type="text" id="user_id" name="user_id" value="{$user_id}" >
        <br/>
        <INPUT type="text" id="department" name="department" value="{$department}" >
        <br/>
        <INPUT type="text" id="pro_id" name="pro_id" value="{$pro_id}" >
        <br/>
        <INPUT type="text" id="set_field" name="set_field" value="{$set_field}" >
        <br/>
    </div>

    <div id="f_sc_cus_name" class="f_field">
        客户名称：<em>*</em><INPUT type="text" id="sc_cus_name" name="sc_cus_name"><br/>
    </div>
    <div id="f_sc_mag_company" class="f_field">
    管理公司：<em>*</em><input type="text"  id="sc_mag_company" name="sc_mag_company"  /><br/>
    </div>
    <INPUT type="submit" value="提交">
    <div id="result">

    </div>
</FORM>
</div>

