<div id="projectList">
    <table>
        <volist name="list" id="vo">
            <tr>
                <td>
                    <eq name="vo.hasLink" value="1">
                        <a href="/index.php/Home/AllInOne/index?pro_id={$vo.pro_id}" class="pro_id">[ {$vo.pro_id} ]</a>
                        <else/>
                        [ {$vo.pro_id} ]
                    </eq>
                </td>
                <td>
                    {$vo.sc_pro_name}
                </td>
            </tr>
        </volist>
    </table>
</div>
<div id="projectAjaxPage">{$page}</div>