<link rel="stylesheet" type="text/css" media="screen" href="__PUBLIC__/style/zTreeStyle/zTreeStyle.css" />
<script src="__PUBLIC__/js/Lib/ztree/jquery.ztree.all-3.5.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/projectprivilege.js"></script>
<script type="text/javascript">
    var setting = {
        view: {
            selectedMulti: false        //禁止多点选中
        },
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable:true,
                idKey: "id",
                pIdKey: "pId",
                rootPId: ""
            }
        },
        callback: {
            onClick: function(treeId, treeNode) {
                var treeObj = $.fn.zTree.getZTreeObj(treeNode);
                var selectedNode = treeObj.getSelectedNodes()[0];
                $("#txtId").val(selectedNode.id);
                $("#txtAddress").val(selectedNode.name);
            },
            onCheck: onCheck
        }
    };

    function onCheck(){
        var treeObj=$.fn.zTree.getZTreeObj("treeDemo");
        nodes=treeObj.getCheckedNodes(true);
        v = "";
        for(var i=0;i<nodes.length;i++){
            if(nodes[i].id > 100){
                v += nodes[i].pro_id + "," + nodes[i].department + "," + nodes[i].user_id + "|";
            }
        }
        alert(v); //获取选中节点的值
        $("#pro2user_all_str").attr("value",v);
    }

    function checkProUser(){

        var pro_user_str = $("#pro_user_str").val();
        console.log(pro_user_str);
        var pro_user_arr = $.parseJSON(pro_user_str);
        console.log(pro_user_arr);
        console.log(pro_user_arr.length);

        var zTreeObj=$.fn.zTree.getZTreeObj("treeDemo");//获得树对象
        var nodes=zTreeObj.getNodes();                    //获得节点
        var childNodes = zTreeObj.transformToArray(nodes); //getNodes()方法得到的只是父级节点，想要得到全部的，得转换为数组进行遍历
        for(var i=0;i<childNodes.length;i++){
            //console.log(childNodes[i].id);
            if(childNodes[i].id > 100){
                //console.log(childNodes[i].name);
                for(var j=0;j<pro_user_arr.length;j++){
                    //console.log( pro_user_arr[j].department);
                    //console.log(childNodes[i].user_id);
                    if(pro_user_arr[j].pro_id == childNodes[i].pro_id
                            && pro_user_arr[j].department == childNodes[i].department
                            && pro_user_arr[j].user_id == childNodes[i].user_id){
                        console.log(childNodes[i].user_id);
                        //childNodes[i].checked = true;
                        zTreeObj.checkNode(childNodes[i], true, true);

                    }
                }
            }
        }
    }
    $(document).ready(function(){
/*        var zNodeStr = $("#all_user_str").val();
        //console.log(zNodeStr);
        var zNodes = $.parseJSON(zNodeStr);
        //console.log(zNodes);
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        checkProUser();*/



    });

</script>


</head>
</body>

<div style="float:left;" >
    <ul id="treeDemo" class="ztree">
    </ul>
</div>
<div style="float:left;" >
    <textarea rows="10" cols="200" id="all_user_str" name="all_user_str">{$all_user_str}</textarea>
    <textarea rows="10" cols="200" id="pro_user_str" name="pro_user_str">{$pro_user_str}</textarea>

    <FORM id="privilegeAddForm" method="post" action="__URL__/ajaxPrivilegeSave">

        <input id="pro_id" type="text" name="pro_id" value="pro_1" /><br />
        <input id="pro2user_all_str" type="text" name="pro2user_all_str" value="" /><br />
        <INPUT type="submit" value="提交">
    </FORM>
    <div id="privilegeResult" name="privilegeResult"></div>

    id: <input id="txtId" type="text" value="" /><br />
    地名：<input id="txtAddress" type="text" value="" />
    <button onclick="onCheck();" ></button>
    <button onclick="checkProUser();" ></button>
</div>



<div id="projectprivilege">

</div>



