<script src="__PUBLIC__/js/allmodules.js"></script>
<script src="__PUBLIC__/js/Lib/darktooltip/jquery.darktooltip.min.js"></script>
<link rel="stylesheet" type="text/css"  href="__PUBLIC__/style/darktooltip/darktooltip.css" />
<!--<script src="__PUBLIC__/js/Lib/simplemodal/jquery.simplemodal-1.4.4.js"></script>-->
<!--<link rel="stylesheet" type="text/css"  href="__PUBLIC__/style/simplemodal/basic.css" />-->
<!--<script src="__PUBLIC__/js/Lib/jquery-easyui-1.3.5/jquery.easyui.min.js"></script>-->
<!--<link rel="stylesheet" type="text/css"  href="__PUBLIC__/js/Lib/jquery-easyui-1.3.5/themes/default/easyui.css" />-->
<script src="__PUBLIC__/js/Lib/jquery-ui-multiselect-widget/src/jquery.multiselect.js"></script>
<script src="__PUBLIC__/js/Lib/jquery-ui-multiselect-widget/i18n/jquery.multiselect.zh-cn.js"></script>
<link rel="stylesheet" type="text/css"  href="__PUBLIC__/js/Lib/jquery-ui-multiselect-widget/jquery.multiselect.css" />


<div id="AllInOneMain"  style="display:none">
<!--<div id="AllInOneMain" >-->
    <INPUT type="text" id="user_id" name="user_id" value="{$user_id}" >
    <br/>
    <INPUT type="text" id="user_fgs" name="user_fgs" value="{$user_fgs}" >
    <br/>
    <INPUT type="text" id="user_department" name="user_department" value="{$user_department}" >
    <br/>
    <INPUT type="text" id="dep_module" name="dep_module" value='{$dep_module}' >
    <br/>
    <INPUT type="text" id="pro_id" name="pro_id" value="{$pro_id}" >
    <br/>
    <textarea rows="10" cols="200" id="project_rec_detail" name="project_rec_detail">{$project_rec_detail}</textarea>
    <br/>
    <INPUT type="text" id="dep_sx" name="dep_sx" value="{$dep_sx}" >
    <br/>
    <textarea rows="10" cols="200" id="all_dep_username" name="all_dep_username" >{$all_dep_username}</textarea>
    <br/>
    <INPUT type="text" id="cur_project_sc_zb_flag" name="cur_project_sc_zb_flag" value="{$cur_project_sc_zb_flag}" >
    <br/>
    <textarea rows="10" cols="200" id="all_fbs_name" name="all_fbs_name" >{$all_fbs_name}</textarea>
    <br/>
    <textarea rows="10" cols="200" id="all_gys_name" name="all_gys_name" >{$all_gys_name}</textarea>
    <br/>
</div>

<span id="lock">锁定</span><span id="unlock">解锁</span>
<br>
<div id="AllInOneDetail">
    <include file="AllInOne/module_xmjbxx" />
    <include file="AllInOne/module_khbyd" />
</div>


