<script type="text/javascript">
    $(document).ready(function () {
        $('body').layout({ applyDemoStyles: true });

        var tabTemplate = "<li><a href='#{href}'>#{label}</a> <span class='ui-icon ui-icon-close' role='presentation' title='Close Tab'>Close Tab</span></li>";
        var tabCounter = 2;
        var maintab = $( "#tabs" ).tabs();
        function addTab(newTabObj,tabId,tabTitle,desturl,tabContent) {
            var id = "tabs-" + tabCounter;
            if(tabId != ""){
                id = "tabs-" + tabId;
            }
            if(desturl != ""){
                id = desturl;
            }
            var label = tabTitle;
            var li = "";
            if(desturl != ""){
                li = $( tabTemplate.replace( /#\{href\}/g, desturl ).replace( /#\{label\}/g, label ) );
            }else{
                li = $( tabTemplate.replace( /#\{href\}/g, "#" + id ).replace( /#\{label\}/g, label ) );
            }

            var tabContentHtml = tabContent;
            newTabObj.find( ".ui-tabs-nav" ).append( li );
            if(desturl == ""){
                newTabObj.append( "<div id='" + id + "'><p>" + tabContentHtml + "</p></div>" );
            }
            newTabObj.tabs( "refresh" );
            tabCounter++;
        }
        // 关闭图标：当点击时移除标签页
        maintab.on( "click", "span.ui-icon-close", function() {
            var panelId = $( this ).closest( "li" ).remove().attr( "aria-controls" );
            $( "#" + panelId ).remove();
            maintab.tabs( "refresh" );
        });

        if($("#west_usermng").length >= 1){
             $("#west_usermng").button().click(function(event){
                 var tab = $('#tabs li:contains("用户管理")');
                 var curIndex = tab.index();
                 if(tab.html() != null ) {
                    maintab.tabs('option', 'active',curIndex);
                    maintab.tabs( "refresh" );
                 }
                 else {
                     addTab(maintab,"","用户管理","/index.php/Home/User/usermng","");
                     //
                     var tab = $('#tabs li:contains("用户管理")');
                     var curIndex = tab.index();
                     maintab.tabs('option', 'active', curIndex);
                     maintab.tabs( "refresh" );
                 }
             });
         }

        //west_createproject
        if($("#west_project_mng").length >= 1){
            $("#west_project_mng").button().click(function(event){
                var tab = $('#tabs li:contains("项目管理")');
                var curIndex = tab.index();
                if(tab.html() != null ) {
                    maintab.tabs('option', 'active',curIndex);
                    maintab.tabs( "refresh" );
                }
                else {
                    addTab(maintab,"","项目管理","/index.php/Home/Project/projectmng","");
                    //
                    var tab = $('#tabs li:contains("项目管理")');
                    var curIndex = tab.index();
                    maintab.tabs('option', 'active', curIndex);
                    maintab.tabs( "refresh" );
                }
            });
        }

        //west_search project
        if($("#west_project_search").length >= 1){
            $("#west_project_search").button().click(function(event){
                var tab = $('#tabs li:contains("项目查询")');
                var curIndex = tab.index();
                if(tab.html() != null ) {
                    maintab.tabs('option', 'active',curIndex);
                    maintab.tabs( "refresh" );
                }
                else {
                    addTab(maintab,"","项目查询","/index.php/Home/Project/projectsearch","");
                    //
                    var tab = $('#tabs li:contains("项目查询")');
                    var curIndex = tab.index();
                    maintab.tabs('option', 'active', curIndex);
                    maintab.tabs( "refresh" );
                }
            });
        }

        if($("#west_userlogout").length >= 1){
            $("#west_userlogout").button().click(function(event){
                window.location.replace("/index.php");
            });
        }
    });
</script>
</head>
<body>

<div id="RightPane" class="ui-layout-center ui-helper-reset ui-widget-content">Center
    <div id="tabs" class="jqgtabs">
        <ul>
            <li><a href="#tabs-1">jqGrid 3.6</a></li>
        </ul>
        <div id="tabs-1" style="font-size:12px;"> Many Thanks to Mark Williams which do the most of the new things added in 3.6<br/>
            <br/>
            Enjoy
        </div>
    </div>
</div>
<div class="ui-layout-north">North</div>
<div class="ui-layout-south">South</div>
<div class="ui-layout-east">East</div>
<div class="ui-layout-west">
    <include file="west" />
</div>



