<script src="__PUBLIC__/js/AllInOne.js"></script>


<div id="AllInOneMain">
    <INPUT type="text" id="user_id" name="user_id" value="{$user_id}" >
    <br/>
    <INPUT type="text" id="department" name="department" value="{$department}" >
    <br/>
    <INPUT type="text" id="dep_module" name="dep_module" value='{$dep_module}' >
    <br/>
    <INPUT type="text" id="pro_id" name="pro_id" value="{$pro_id}" >
    <br/>
    <textarea rows="10" cols="200" id="dep_rec_detail" name="dep_rec_detail">{$dep_rec_detail}</textarea>
    <br/>
    <INPUT type="text" id="dep_sx" name="dep_sx" value="{$dep_sx}" >
    <br/>
</div>

<div id="AllInOneDetail">
    <include file="AllInOne/module_xmjbxx" />
    <include file="AllInOne/module_xmscfx" />
    <include file="AllInOne/module_khbyd" />
    <include file="AllInOne/module_xmrlzygl" />
    <include file="AllInOne/module_xmsjgl" />
    <include file="AllInOne/module_xmcbgl" />
    <include file="AllInOne/module_xmzjlgl" />
    <include file="AllInOne/module_gysgl" />
    <include file="AllInOne/module_ygjxgl" />
    <include file="AllInOne/module_gczcgl" />
    <include file="AllInOne/module_dxmgl" />
</div>


