<script type="text/javascript">
    $(document).ready(function() {
        function getColModel_Id(){
            return {name:'id',index:'id',
                width:20,align:"right",
                sortable:true,
                editable:false,
                readonly:true,
                editoptions:{readonly:true,size:100},
                formoptions:{rowpos:1, label: "id", elmprefix:"(*)"}
            };
        }
        function getColModel_Je(indexname,rowpos,label,require){
            return {
                name:indexname,
                index:indexname,
                width:30,
                align:"right",
                sortable:true,
                editable:true, edittype:"text",
                editrules:{required: (typeof(require )== "undefined") ? true : require},
                editoptions:{
                    size:"20"
                },
                formoptions:{rowpos:rowpos, label: label, elmprefix:"(*)"}
            };
        }
        function getColModel_Time(indexname,rowpos,label,require){
            return {
                name:indexname,
                index:indexname,
                width:30,
                align:"right",
                sortable:true,
                editable:true, edittype:"text",
                editrules:{required: (typeof(require )== "undefined") ? true : require},
                editoptions:{
                    dataInit:function(element){
                        $(element).datepicker();
                    },
                    size:"20"
                },
                formoptions:{rowpos:rowpos, label: label, elmprefix:"(*)"}
            };
        }
        //sksj
        function setZjlglSksjJqGrid(domTableId,domPageId,cur_pro_id,cur_user_id,cur_dep_id){
            var    caption_str = "收款实计";
            var    search_url = '/index.php/Home/AllInOne/ajaxZjlsksjSearch';
            var    save_url = '/index.php/Home/AllInOne/ajaxZjlsksjSave'
            var    colNames = ['ID','笔数','金额','时间'];
            //
            var $zjlsksjgridobj = jQuery(domTableId).jqGrid({
                url: search_url,
                datatype: "json",
                mtype: 'POST',
                postData: {pro_id:cur_pro_id},
                colNames: colNames,
                colModel:[
                    getColModel_Id()
                    ,
                    {
                        name: "sk_bs",
                        index: "sk_bs",
                        width:40,
                        align:"right",
                        sortable:true,
                        stype:'select',//查询类型
                        editable:true,edittype:"select",
                        editoptions:{
                            value:{
                                '0':'全部',
                                '0.1':'首付款',
                                '1':'进度款1',
                                '2':'进度款2',
                                '3':'进度款3',
                                '4':'进度款4',
                                '5':'进度款5',
                                '6':'进度款6',
                                '7':'进度款7',
                                '8':'进度款8',
                                '20':'竣工款',
                                '30':'结算款',
                                '40':'质保金'
                            },
                            defaultValue:"0"
                        },
                        editrules:{required:true},
                        formoptions:{ rowpos:2,label: "笔数" ,elmprefix:"(*)"}
                    }
                    ,
                    //getColModel_Je("sk_je",3,"金额")
                    {
                        name:"sk_je",
                        index:"sk_je",
                        width:30,
                        align:"right",
                        sortable:true,
                        editable:true, edittype:"text",
                        editrules:{required: (typeof(require )== "undefined") ? true : require},
                        editoptions:{
                            size:"20"
                        },
                        formatter: 'number',
                        summaryType:'sum',
                        formoptions:{rowpos:3, label: "金额", elmprefix:"(*)"}
                    }
                    ,
                    getColModel_Time("sk_time",4,"日期")
                ],
                hiddengrid: false,
                autowidth: true,
                rownumbers: true,
                rowNum:20,
                rowList:[20,30,50],
                pager: domPageId,
                viewrecords: true,
                sortorder: "desc",
                forceFit : true,
                editurl: save_url,
                caption:caption_str,
                footerrow : true,
                //userDataOnFooter : true,
                //altRows : true,
                gridComplete: function() {
                    var rowNum = parseInt(jQuery(domTableId).jqGrid('getGridParam','records',10));
                    if(rowNum > 0){
                        var sk_je  = jQuery(domTableId).jqGrid('getCol','sk_je',false,'sum');
                        jQuery(domTableId).jqGrid('footerData',"set",{sk_bs:'合计:',sk_je:sk_je});
                    }
                },
                onSelectRow: function(id){
                    var rowid = jQuery(domTableId).jqGrid('getGridParam','selrow');
                    if(rowid){
                        var rowData = $(domTableId).jqGrid('getRowData',rowid);
                        var domTableId_tag = domTableId.substring(1);
                        if("ys" != $("#user_department").val()){
                            $("#" + domTableId_tag + "_iladd").addClass('ui-state-disabled');
                            $("#del_" + domTableId_tag).addClass('ui-state-disabled');
                        }else{
                            $("#" + domTableId_tag + "_iladd").removeClass('ui-state-disabled');
                            $("#" + domTableId_tag + "_iledit").removeClass('ui-state-disabled');
                            $("#del_" + domTableId_tag).removeClass('ui-state-disabled');
                        }
                    }

                },
                onCellSelect: function(){
                    //alert("cellselect");
                },
                afterInsertRow:function(rowid,rowdata,rowelem){
                    //alert(rowid);
                }
            });

            //导航栏配置和CRUD函数
            if(cur_dep_id == "ht"){
                jQuery(domTableId).jqGrid('navGrid',domPageId,
                        {view:true,search:false,edit:false,add:false,del:true}
                );
            }else{
                jQuery(domTableId).jqGrid('navGrid',domPageId,
                        {view:true,search:false,edit:false,add:false,del:false}
                );
            }
            //
            var addparameters = {
                rowID : "new_row",
                initdata : {},
                position :"first",
                useDefValues : false,
                useFormatter : false,
                addRowParams : {
                    extraparam:{pro_id:cur_pro_id,user_id:cur_user_id},
                    successfunc : function(xhr){
                        var result = eval('(' + xhr.responseText + ')');
                        if(true == result.state){
                            jQuery(domTableId).trigger("reloadGrid");
                            return true;
                        }else{
                            jAlert(result.msg);
                            return true;
                        }
                    }
                }
            }
            //
            var editparameters = {
                "keys" : false,
                "oneditfunc" : null,
                "successfunc" : function(xhr){
                    var result = eval('(' + xhr.responseText + ')');
                    if(true == result.state){
                        return true;
                    }else{
                        jAlert(result.msg);
                        return true;
                    }
                },
                "url" : null,
                "extraparam" : {pro_id:cur_pro_id,user_id:cur_user_id},
                "aftersavefunc" : null,
                "errorfunc": null,
                "afterrestorefunc" : null,
                "restoreAfterError" : true,
                "mtype" : "POST"
            }
            var parameters = {
                edit: true,
                editicon: "ui-icon-pencil",
                add: true,
                addicon:"ui-icon-plus",
                save: true,
                saveicon:"ui-icon-disk",
                cancel: true,
                cancelicon:"ui-icon-cancel",
                addParams : addparameters,
                editParams : editparameters
            }

            if(cur_dep_id == "ht"){
                jQuery(domTableId).jqGrid('inlineNav',domPageId,parameters);
            }
            //其他配置
            jQuery(domTableId).jqGrid('gridResize',{minWidth:1500,maxWidth:2000,minHeight:500, maxHeight:1000});
            jQuery(domTableId).jqGrid('sortableRows');
        }
        setZjlglSksjJqGrid("#zjlsksj","#pzjlsksj",$("#pro_id").val(),$("#user_id").val(),$("#user_department").val());

        //
        function setZjlgl_Skyj_JqGrid(domTableId,domPageId,cur_pro_id,cur_user_id,cur_dep_id,cur_ht_amt){
            var caption_str = "收款预计";
            var search_url = '/index.php/Home/AllInOne/ajaxZjlskyjSearch';
            var save_url = '/index.php/Home/AllInOne/ajaxZjlskyjSave';
            var colNames = ['ID','笔数','比例','金额','时间'];
            //
            var $zjlskyjgridobj = jQuery(domTableId).jqGrid({
                url: search_url,
                datatype: "json",
                mtype: 'POST',
                postData: {pro_id:cur_pro_id,hetong_amt:cur_ht_amt},
                colNames: colNames,
                colModel:[
                    getColModel_Id()
                    ,
                    {
                        name: "sk_bs",
                        index: "sk_bs",
                        width:40,
                        align:"center",
                        sortable:true,
                        stype:'select',//查询类型
                        editable:true,edittype:"select",
                        editoptions:{
                            value:{
                                '0':'全部',
                                '0.1':'首付款',
                                '1':'进度款1',
                                '2':'进度款2',
                                '3':'进度款3',
                                '4':'进度款4',
                                '5':'进度款5',
                                '6':'进度款6',
                                '7':'进度款7',
                                '8':'进度款8',
                                '20':'竣工款',
                                '30':'结算款',
                                '40':'质保金'
                            },
                            defaultValue:"0"
                        },
                        editrules:{required:true},
                        formoptions:{ rowpos:2,label: "笔数" ,elmprefix:"(*)"}
                    }
                    ,
                    getColModel_Je("sk_rate",3,"比例")
                    ,
                    //getColModel_Je("sk_je",4,"金额",false)
                    {
                        name:"sk_je",
                        index:"sk_je",
                        width:30,
                        align:"right",
                        sortable:true,
                        editable:true, edittype:"text",
                        editrules:{required: false},
                        editoptions:{
                            size:"20"
                        },
                        formatter: 'number',
                        summaryType:'sum',
                        formoptions:{rowpos:4, label: "金额", elmprefix:"(*)"}
                    }
                    ,
                    getColModel_Time("sk_time",4,"日期")
                ],
                hiddengrid: false,
                autowidth: true,
                rownumbers: true,
                rowNum:20,
                rowList:[20,30,50],
                pager: domPageId,
                viewrecords: true,
                sortorder: "desc",
                forceFit : true,
                editurl: save_url,
                caption:caption_str,
                footerrow : true,
                userDataOnFooter : true,
                altRows : true,
                gridComplete: function() {
                    var rowNum = parseInt(jQuery(domTableId).jqGrid('getGridParam','records',10));
                    if(rowNum > 0){
                        var sk_je  = jQuery(domTableId).jqGrid('getCol','sk_je',false,'sum');
                        jQuery(domTableId).jqGrid('footerData',"set",{sk_rate:'合计:',sk_je:sk_je});
                    }
                },
                onSelectRow: function(id){
                    var rowid = jQuery(domTableId).jqGrid('getGridParam','selrow');
                    if(rowid){
                        var rowData = $(domTableId).jqGrid('getRowData',rowid);
                        var domTableId_tag = domTableId.substring(1);
                        if("ys" != $("#user_department").val()){
                            $("#" + domTableId_tag + "_iladd").addClass('ui-state-disabled');
                            $("#del_" + domTableId_tag).addClass('ui-state-disabled');
                        }else{
                            $("#" + domTableId_tag + "_iladd").removeClass('ui-state-disabled');
                            $("#" + domTableId_tag + "_iledit").removeClass('ui-state-disabled');
                            $("#del_" + domTableId_tag).removeClass('ui-state-disabled');
                        }
                    }

                },
                onCellSelect: function(){
                    //alert("cellselect");
                },
                afterInsertRow:function(rowid,rowdata,rowelem){
                    //alert(rowid);
                }
            });

            //导航栏配置和CRUD函数
            if(cur_dep_id == "gc"){
                jQuery(domTableId).jqGrid('navGrid',domPageId,
                        {view:true,search:false,edit:false,add:false,del:true}
                );
            }else{
                jQuery(domTableId).jqGrid('navGrid',domPageId,
                        {view:true,search:false,edit:false,add:false,del:false}
                );
            }
            //
            var addparameters = {
                rowID : "new_row",
                initdata : {},
                position :"first",
                useDefValues : false,
                useFormatter : false,
                addRowParams : {
                    extraparam:{pro_id:cur_pro_id,user_id:cur_user_id},
                    successfunc : function(xhr){
                        var result = eval('(' + xhr.responseText + ')');
                        if(true == result.state){
                            jQuery(domTableId).trigger("reloadGrid");
                            return true;
                        }else{
                            jAlert(result.msg);
                            return true;
                        }
                    }
                }
            }
            //
            var editparameters = {
                "keys" : false,
                "oneditfunc" : null,
                "successfunc" : function(xhr){
                    var result = eval('(' + xhr.responseText + ')');
                    if(true == result.state){
                        return true;
                    }else{
                        jAlert(result.msg);
                        return true;
                    }
                },
                "url" : null,
                "extraparam" : {pro_id:cur_pro_id,user_id:cur_user_id,hetong_amt:cur_ht_amt},
                "aftersavefunc" : null,
                "errorfunc": null,
                "afterrestorefunc" : null,
                "restoreAfterError" : true,
                "mtype" : "POST"
            }
            var parameters = {
                edit: true,
                editicon: "ui-icon-pencil",
                add: true,
                addicon:"ui-icon-plus",
                save: true,
                saveicon:"ui-icon-disk",
                cancel: true,
                cancelicon:"ui-icon-cancel",
                addParams : addparameters,
                editParams : editparameters
            }

            if(cur_dep_id == "gc"){
                jQuery(domTableId).jqGrid('inlineNav',domPageId,parameters);
            }
            //其他配置
            jQuery(domTableId).jqGrid('gridResize',{minWidth:1500,maxWidth:2000,minHeight:500, maxHeight:1000});
            jQuery(domTableId).jqGrid('sortableRows');
        }
        setZjlgl_Skyj_JqGrid("#zjlskyj","#pzjlskyj",$("#pro_id").val(),$("#user_id").val(),$("#user_department").val(),$("#ys_hetong_amt").val());
    });
</script>
<div id="module_xmzjlgl"  class="module">
    <h3><a href="#">项目资金流管理</a></h3>
    <div>
        <div class="divtab">
            <!--
            项目合同金额	来自预算部	客户合同到账金额
            项目结算金额	来自预算部	客户合同到账金额占结算金额比例
            -->
            <table>
                <tr >
                    <td>项目合同金额：
                        <INPUT type="text" id="ys_hetong_amt" name="ys_hetong_amt"  jb_field="jb_single_save" />
                    </td>
                    <td>客户合同到账金额:

                    </td>
                </tr>
                <tr>
                    <td>项目结算金额：

                    </td>
                    <td>客户合同到账金额占结算金额比例:

                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table id="zjlsksj"></table>
            <div id="pzjlsksj"></div>
        </div>
        <div>
            <table id="zjlskyj"></table>
            <div id="pzjlskyj"></div>
        </div>

    </div>
</div>