<script type="text/javascript">
    $(document).ready(function() {
    });
</script>


<div id="module_xmrlzygl"  class="module">
    <h3><a href="#">项目人力资源管理</a></h3>
    <div class="divtab" >
        <!--     项目人力资源管理

                部门	岗位	人员	同一岗位多人员工作比	说明	编程说明
                市场部	市场经理	来自市场部	来自市场部	可输入文字说明	工作比默认为100%
                市场部助理	来自市场部		可输入文字说明	无需设置工作比例

        -->

        <table>
            <thead>
                <tr>
                    <th>部门</th>
                    <th>岗位</th>
                    <th>人员</th>
                    <th>同一岗位多人员工作比</th>
                    <th>说明</th>
                </tr>
            </thead>
            <!--市场部------------------------------------------------------------------------------------------------------------>
            <tr>
                <td>市场部</td>
                <td>市场经理</td>
                <td><SELECT type="text" id="sc_rlzy_scjl" name="sc_rlzy_scjl"  jb_dep="sc"  jb_field="jb_single_save" />
                </td>
                <td>100%</td>
                <td>
                    <textarea id="sc_rlzy_scjl_desc" name="sc_rlzy_scjl_desc"  jb_field="jb_single_save" cols="50" rows="2"></textarea>
                </td>
            </tr>
            <tr>
                <td>市场部</td>
                <td>市场助理</td>
                <td><SELECT type="text" id="sc_rlzy_sczl" name="sc_rlzy_sczl"  jb_dep="sc"  jb_field="jb_single_save" />
                </td>
                <td>0%</td>
                <td>
                    <textarea id="sc_rlzy_sczl_desc" name="sc_rlzy_sczl_desc"  jb_field="jb_single_save" cols="50" rows="2"></textarea>
                </td>
            </tr>
            <!--市场部------------------------------------------------------------------------------------------------------------>
            <!--预算部------------------------------------------------------------------------------------------------------------>
            <tr>
                <td>预算部</td>
                <td>预算员1</td>
                <td><SELECT type="text" id="ys_rlzy_ysy1" name="ys_rlzy_ysy1"  jb_dep="ys"  jb_field="jb_single_save" />
                </td>
                <td>0%</td>
                <td>
                    <textarea id="ys_rlzy_ysy1_desc" name="ys_rlzy_ysy1_desc"  jb_field="jb_single_save" cols="50" rows="2"></textarea>
                </td>
            </tr>
            <tr>
                <td>预算部</td>
                <td>预算员2</td>
                <td><SELECT type="text" id="ys_rlzy_ysy2" name="ys_rlzy_ysy2"  jb_dep="ys"  jb_field="jb_single_save" />
                </td>
                <td>0%</td>
                <td>
                    <textarea id="ys_rlzy_ysy2_desc" name="ys_rlzy_ysy2_desc"  jb_field="jb_single_save" cols="50" rows="1"></textarea>
                </td>
            </tr>
            <tr>
                <td>预算部</td>
                <td>预算员1</td>
                <td><SELECT type="text" id="ys_rlzy_ysy3" name="ys_rlzy_ysy3"  jb_dep="ys"  jb_field="jb_single_save" />
                </td>
                <td>0%</td>
                <td>
                    <textarea id="ys_rlzy_ysy3_desc" name="ys_rlzy_ysy3_desc"  jb_field="jb_single_save" cols="50" rows="1"></textarea>
                </td>
            </tr>
            <!--预算部------------------------------------------------------------------------------------------------------------>
            <!--预算部------------------------------------------------------------------------------------------------------------>
            <tr>
                <td>预算部</td>
                <td>预算员1</td>
                <td><SELECT type="text" id="ys_rlzy_ysy1" name="ys_rlzy_ysy1"  jb_dep="ys"  jb_field="jb_single_save" />
                </td>
                <td>0%</td>
                <td>
                    <textarea id="ys_rlzy_ysy1_desc" name="ys_rlzy_ysy1_desc"  jb_field="jb_single_save" cols="50" rows="1"></textarea>
                </td>
            </tr>
            <tr>
                <td>预算部</td>
                <td>预算员2</td>
                <td><SELECT type="text" id="ys_rlzy_ysy2" name="ys_rlzy_ysy2"  jb_dep="ys"  jb_field="jb_single_save" />
                </td>
                <td>0%</td>
                <td>
                    <textarea id="ys_rlzy_ysy2_desc" name="ys_rlzy_ysy2_desc"  jb_field="jb_single_save" cols="50" rows="1"></textarea>
                </td>
            </tr>
            <tr>
                <td>预算部</td>
                <td>预算员1</td>
                <td><SELECT type="text" id="ys_rlzy_ysy3" name="ys_rlzy_ysy3"  jb_dep="ys"  jb_field="jb_single_save" />
                </td>
                <td>0%</td>
                <td>
                    <textarea id="ys_rlzy_ysy3_desc" name="ys_rlzy_ysy3_desc"  jb_field="jb_single_save" cols="50" rows="1"></textarea>
                </td>
            </tr>
            <!--预算部------------------------------------------------------------------------------------------------------------>
        </table>
    </div>
</div>