<script type="text/javascript">
    $(document).ready(function() {
        function get_comm_hj(domDiv,hjType,domResult){
            var sum = 0.00;
            $("#" + domDiv + " [jb_hj=" + hjType + "]").each(function(){
                sum += parseFloat($(this).val()) || 0.00;
            });
            $("#" + domResult).val(sum);
        }
        function add_comm_hj_event(domDiv,hjType,domResult){
            $("#" + domDiv + " [jb_hj=" + hjType + "]").each(function(){
               $(this).on('blur',function(){
                   if("nkje" == hjType){
                       var cur_id = $(this).attr("id");
                       var cur_dwbj_id = cur_id.substring(0,cur_id.lastIndexOf("_")) + "_dwbj";
                       //alert(cur_dwbj_id);
                       var nkje = parseFloat($(this).val()) || 0.00;
                       //alert(nkje);
                       var dwbj =  parseFloat($("#" + cur_dwbj_id).val()) || 0.00;
                       //alert(dwbj);
                       if(nkje >= dwbj){
                           alert("内控金额 大于 对外报价！");
                           $(this).focus();
                           return;
                       }
                   }
                   if("nkje" == hjType || "dwbj" == hjType || "sjcb" == hjType){
                       get_comm_mll("module_xmcbgl","jb_kgmll");
                       get_comm_mll("module_xmcbgl","jb_sjmll");
                       get_comm_total_mll("module_xmcbgl");
                   }
                   get_comm_hj(domDiv,hjType,domResult);
               });
            });
        }
        //get vo
        function get_all_vo_hj(srctype){
            var ret = $.get("/index.php/Home/DbOpt/ajaxGetAllVOJe?pro_id=" + $("#pro_id").val() + "&srctype=" + srctype, function(xhr){
                //console.log(xhr);
                $.each(xhr,function(index,element){
                    //alert(index);
                    //alert(element);
                    $("#ys_" + index + "_" + srctype + "_vo").val(element);
                });
                //
                get_comm_hj("module_xmcbgl",srctype + "_vo","ys_hj_" + srctype + "_vo");
                //
                //single cg
                $("#ys_hj_cg_customer_vo").val(parseFloat($("#ys_cg_customer_vo").val()) || 0.00);

            });
            return ret;
        }
        //mll
        function get_comm_mll(domDiv,mlltype){
            $("#" + domDiv + " [" + mlltype + "]").each(function(){
                if("jb_kgmll" == mlltype){
                    var fb_type = $(this).attr(mlltype);
                    var fb_dwbj = parseFloat($("#ys_" + fb_type + "_dwbj").val()) || 0.00;
                    var fb_nkje = parseFloat($("#ys_" + fb_type + "_nkje").val()) || 0.00;
                    var fb_kgmll = 0.00;
                    if(fb_dwbj > 0.00 ){
                        fb_kgmll = (parseFloat(fb_dwbj) - parseFloat(fb_nkje))/parseFloat(fb_dwbj) ;
                    }
                    //Math.round(x*100)/100
                    $("#ys_" + fb_type + "_kgmll").val(Math.round(fb_kgmll * 10000)/100 + "%");
                }else if("jb_sjmll" == mlltype){
                    var fb_type = $(this).attr(mlltype);
                    var fb_dwbj = parseFloat($("#ys_" + fb_type + "_dwbj").val()) || 0.00;
                    var fb_customer_vo = parseFloat($("#ys_" + fb_type + "_customer_vo").val()) || 0.00;
                    var fb_sjcb = parseFloat($("#ys_" + fb_type + "_sjcb").val()) || 0.00;
                    var fb_fb_vo = parseFloat($("#ys_" + fb_type + "_fb_vo").val()) || 0.00;
                    var fb_sjmll = 0.00;
                    if(fb_dwbj > 0.00 ){
                        fb_sjmll = (parseFloat(fb_dwbj) + parseFloat(fb_customer_vo) - parseFloat(fb_sjcb) - parseFloat(fb_fb_vo))/(parseFloat(fb_dwbj) + parseFloat(fb_customer_vo)) ;
                    }
                    //Math.round(x*100)/100
                    $("#ys_" + fb_type + "_sjmll").val(Math.round(fb_sjmll * 10000)/100 + "%");
                }
            });
        }
        //total_mll
        function get_comm_total_mll(domDiv){
            var fb_dwbj = $("#ys_hj_dwbj").val() || 0.00;
            var fb_nkje = $("#ys_hj_nkje").val() || 0.00;
            var fb_kgmll = 0.00;
            if(fb_dwbj > 0.00 ){
                fb_kgmll = (parseFloat(fb_dwbj) - parseFloat(fb_nkje))/parseFloat(fb_dwbj) ;
            }
            //Math.round(x*100)/100
            $("#ys_hj_kgmll").val(Math.round(fb_kgmll * 10000)/100 + "%");
            //
            var fb_customer_vo = $("#ys_hj_customer_vo").val() || 0.00;
            var fb_sjcb = $("#ys_hj_sjcb").val() || 0.00;
            var fb_fb_vo = $("#ys_hj_fb_vo").val() || 0.00;
            var fb_sjmll = 0.00;
            if(fb_dwbj > 0.00 ){
                fb_sjmll = (parseFloat(fb_dwbj) + parseFloat(fb_customer_vo) - parseFloat(fb_sjcb) - parseFloat(fb_fb_vo))/(parseFloat(fb_dwbj) + parseFloat(fb_customer_vo)) ;
                //Math.round(x*100)/100
                $("#ys_hj_sjmll").val(Math.round(fb_sjmll * 10000)/100 + "%");
            }
        }
        //dwbj
        add_comm_hj_event("module_xmcbgl","dwbj","ys_hj_dwbj");
        get_comm_hj("module_xmcbgl","dwbj","ys_hj_dwbj");
        //nkje
        add_comm_hj_event("module_xmcbgl","nkje","ys_hj_nkje");
        get_comm_hj("module_xmcbgl","nkje","ys_hj_nkje");
        //sjcb
        add_comm_hj_event("module_xmcbgl","sjcb","ys_hj_sjcb");
        get_comm_hj("module_xmcbgl","sjcb","ys_hj_sjcb");
        //customer vo,fb vo
        add_comm_hj_event("module_xmcbgl","customer_vo","ys_hj_customer_vo");
        add_comm_hj_event("module_xmcbgl","fb_vo","ys_hj_fb_vo");
        //


        //
        //-------------------------------------------------------------------------------------------
        //子表
        //-------------------------------------------------------------------------------------------
        function setVoJqGrid(domTableId,domPageId,srctype,cur_pro_id,cur_vo_type,domResultId){
            //console.log(cur_pro_id);
            //console.log(cur_vo_type);
            var $gridobj = jQuery(domTableId).jqGrid({
                url:'/index.php/Home/DbOpt/ajaxVoSearch',
                datatype: "json",
                mtype: 'POST',
                postData: {pro_id:cur_pro_id,srctype:srctype,vo_type:cur_vo_type},
                colNames:['ID','金额','原因','描述'],
                colModel:[
                    {name:'id',index:'id',
                        width:20,align:"right",
                        sortable:true,
                        editable:false,
                        readonly:true,
                        editoptions:{readonly:true,size:100}
                    },
                    {name:'vo_je',index:'vo_je',
                        width:30,align:"right",
                        sortable:true,
                        formatter: 'number',
                        summaryType:'sum',
                        editable:true, edittype:"text",editrules:{required:true},
                        editoptions:{size:30},
                        formoptions:{rowpos:2, label: "金额", elmprefix:"(*)"}
                    },
                    {name:'vo_reson',index:'vo_reson',
                        width:30, align:"center",
                        sortable:true,
                        stype:'select',//查询类型
                        editable:true,edittype:"select",
                        editoptions:{
                            value: get_vo_reson_array(srctype),
                            defaultValue:"A"
                        },
                        editrules:{required:true},
                        formoptions:{ rowpos:3,label: "原因",elmprefix:"(*)"}
                    },
                    {name:'vo_desc',index:'vo_desc',
                        width:50,align:"right",
                        sortable:true,
                        editable:true, edittype:"text",editrules:{required:true},
                        editoptions:{size:50},
                        /*                  editable:true, edittype:"textarea",editrules:{required:true},
                         editoptions:{rows:"3",cols:"30"},*/
                        formoptions:{rowpos:4, label: "描述", elmprefix:"(*)"}
                    }
                ],
                hiddengrid: false,
                autowidth: true,
                rownumbers: true,
                rowNum:20,
                rowList:[10,20,30],
                pager: domPageId,
                viewrecords: true,
                sortorder: "desc",
                forceFit : true,
                editurl: '/index.php/Home/DbOpt/ajaxVoSave',
                caption:"",
                footerrow : true,
                gridComplete: function() {
                    var rowNum = parseInt(jQuery(domTableId).jqGrid('getGridParam','records',10));
                    if(rowNum > 0){
                        var hj_je  = jQuery(domTableId).jqGrid('getCol','vo_je',false,'sum');
                        jQuery(domTableId).jqGrid('footerData',"set",{id:'合计:',vo_je:hj_je});
                        $("#" + domResultId).val(hj_je);
                    }
                },
                onSelectRow: function(id){
                }
            });

            //导航栏配置和CRUD函数
            jQuery(domTableId).jqGrid('navGrid',domPageId,
                    {view:false,search:false,edit:false,add:false,del:true}
            );
            //
            var addparameters = {
                rowID : "new_row",
                initdata : {},
                position :"first",
                useDefValues : false,
                useFormatter : false,
                addRowParams : {
                    extraparam:{pro_id:cur_pro_id,srctype:srctype,vo_type:cur_vo_type},
                    successfunc : function(xhr){
                        //alert("successfunc");
                        //console.log(xhr);
                        var result = eval('(' + xhr.responseText + ')');
                        if(true == result.state){
                            //alert(result.msg);
                            //alert(result.msg);
                            //重新载入,自动调用
                            //$gridobj.trigger("reloadGrid"); //重新载入
                            //alert(result.id);
                            //jQuery(domTableId).setCell (1,1,result.id);
                            jQuery(domTableId).trigger("reloadGrid");
                            return true;
                        }else{
                            jAlert(result.msg);
                            return true;
                        }
                    }
                }
            }
            //
            var editparameters = {
                "keys" : false,
                "oneditfunc" : null,
                "successfunc" : function(xhr){
                    //alert("successfunc");
                    //console.log(xhr);
                    var result = eval('(' + xhr.responseText + ')');
                    if(true == result.state){
                        //alert(result.msg);
                        jQuery(domTableId).trigger("reloadGrid");
                        return true;
                    }else{
                        jAlert(result.msg);
                        return true;
                    }
                },
                "url" : null,
                "extraparam" : {pro_id:cur_pro_id,srctype:srctype,vo_type:cur_vo_type},
                "aftersavefunc" : null,
                "errorfunc": null,
                "afterrestorefunc" : null,
                "restoreAfterError" : true,
                "mtype" : "POST"
            }
            var parameters = {
                edit: true,
                editicon: "ui-icon-pencil",
                add: true,
                addicon:"ui-icon-plus",
                save: true,
                saveicon:"ui-icon-disk",
                cancel: true,
                cancelicon:"ui-icon-cancel",
                addParams : addparameters,
                editParams : editparameters
            }
            jQuery(domTableId).jqGrid('inlineNav',domPageId,parameters);


            //其他配置
            jQuery(domTableId).jqGrid('gridResize',{minWidth:350,maxWidth:1000,minHeight:80, maxHeight:350});
            jQuery(domTableId).jqGrid('sortableRows');
            /*        jQuery(domTableId).jqGrid('filterToolbar');
             $gridobj[0].toggleToolbar();
             if($(domPageId + ":contains(Toggle)").length < 1){
             jQuery(domTableId).jqGrid('navButtonAdd',domPageId,{caption:"Toggle",title:"Toggle Search Toolbar", buttonicon :'ui-icon-pin-s',
             onClickButton:function(){
             $gridobj[0].toggleToolbar();
             }
             });
             }*/
        }

        function get_fb_type_str(dep_sx){
            var fb_arr = {
                'zx':"装修",
                'dq':"电气",
                'kt':"空调",
                'xf':"消防",
                'jps':"给排水",
                'it':"IT",
                'sec':"SEC",
                'av':"AV"
            };
            return fb_arr[dep_sx];
        }
        function get_vo_reson_array(srctype){
            var customer_vo_arr = {
                '0':"全部",
                'A': "客户变更",
                'B': "范围变更",
                'C': "代客户采购",
                'D': "设计公司变更",
                'E': "大厦或消防要求",
                'F': "现场条件不符",
                'G': "其它"
            };
            var fb_vo_arr = {
                '0':"全部",
                'A' : "客户要求-有VO",
                'B' : "客户要求- 无VO",
                'C' : "装修设计协调",
                'D' : "机电设计协调",
                'E' : "预算漏项或少算",
                'F' : "工程现场变更",
                'G' : "采购协调",
                'H' : "其它"
            };
            if("customer" == srctype){
                return customer_vo_arr;
            }else if("fb" == srctype){
                return fb_vo_arr;
            }
            return {};
        }
        function showVOJqGriddialog(domDialogId,srctype,vo_type,domResultId){
            var title = "";
            if("customer" == srctype){
                title = "客户VO :  " + (get_fb_type_str(vo_type) || "采购");
            }else if("fb" == srctype){
                title = "分包VO :  " + get_fb_type_str(vo_type);
            }
            var dialogOpts = {
                title: title,
                bgiframe: true,
                resizable: true,
                width: 800,
                height:500,
                //autoOpen: false,
                modal: true,
                overlay: {
                    backgroundColor: '#000',
                    opacity: 0.5
                },
                open: function() {
                    setVoJqGrid("#" + srctype + "_" + vo_type + "_dg","#" + srctype + "_p" + vo_type + "_dg",srctype,$("#pro_id").val(),vo_type,domResultId);
                },
                buttons: {
                    "Ok": function() {
                        $(this).dialog('close');
                    } ,
                    "Cancel": function() {
                        $(this).dialog('close');
                    }
                }
            }
            $(domDialogId).dialog(dialogOpts);
            //$(domDialogId).dialog('open');
        }

        $('.module').on('click','[jb_field=jb_multi_save]',function(event){
            var domSrc = event.target.id;
            //alert(domSrc);
            var vo_type = domSrc.split("_")[1];
            var srctype = domSrc.split("_")[2];
            //alert(vo_type);
            showVOJqGriddialog("#" + srctype + "_" + vo_type + "_dialog",srctype,vo_type,domSrc);
            return false;
        })
        //-------------------------------------------------------------------------------------------
        //单字段 合计
        //--------------------------------------------------------------------------------------------
        function add_single_hj_event(domDiv,hjType,domResult){
            $("#" + domDiv + " [jb_single_hj=" + hjType + "]").each(function(){
                $(this).on('blur',function(){
                    if("nkje" == hjType){
                        var cur_id = $(this).attr("id");
                        var cur_dwbj_id = cur_id.substring(0,cur_id.lastIndexOf("_")) + "_dwbj";
                        //alert(cur_dwbj_id);
                        var nkje = parseFloat($(this).val()) || 0.00;
                        //alert(nkje);
                        var dwbj =  parseFloat($("#" + cur_dwbj_id).val()) || 0.00;
                        //alert(dwbj);
                        if(nkje >= dwbj){
                            alert("内控金额 大于 对外报价！");
                            $(this).focus();
                            return;
                        }
                    }
                    if("nkje" == hjType || "dwbj" == hjType || "sjcb" == hjType){
                        get_single_mll("module_xmcbgl","jb_single_kgmll");
                        get_single_total_mll("module_xmcbgl");
                        //get_comm_mll("module_xmcbgl","jb_sjmll");
                        //get_comm_total_mll("module_xmcbgl");
                    }
                    $("#" + domResult).val(parseFloat($(this).val()) || 0.00);
                });
            });
        }
        //mll
        function get_single_mll(domDiv,mlltype){
            $("#" + domDiv + " [" + mlltype + "]").each(function(){
                if("jb_single_kgmll" == mlltype){
                    var fb_type = $(this).attr(mlltype);
                    var fb_dwbj = parseFloat($("#ys_" + fb_type + "_dwbj").val()) || 0.00;
                    var fb_nkje = parseFloat($("#ys_" + fb_type + "_nkje").val()) || 0.00;
                    var fb_kgmll = 0.00;
                    if(fb_dwbj > 0.00 ){
                        fb_kgmll = (parseFloat(fb_dwbj) - parseFloat(fb_nkje))/parseFloat(fb_dwbj) ;
                    }
                    //Math.round(x*100)/100
                    $("#ys_" + fb_type + "_kgmll").val(Math.round(fb_kgmll * 10000)/100 + "%");
                }else if("jb_sjmll" == mlltype){
                    var fb_type = $(this).attr(mlltype);
                    var fb_dwbj = parseFloat($("#ys_" + fb_type + "_dwbj").val()) || 0.00;
                    var fb_customer_vo = parseFloat($("#ys_" + fb_type + "_customer_vo").val()) || 0.00;
                    var fb_sjcb = parseFloat($("#ys_" + fb_type + "_sjcb").val()) || 0.00;
                    var fb_fb_vo = parseFloat($("#ys_" + fb_type + "_fb_vo").val()) || 0.00;
                    var fb_sjmll = 0.00;
                    if(fb_dwbj > 0.00 ){
                        fb_sjmll = (parseFloat(fb_dwbj) + parseFloat(fb_customer_vo) - parseFloat(fb_sjcb) - parseFloat(fb_fb_vo))/(parseFloat(fb_dwbj) + parseFloat(fb_customer_vo)) ;
                    }
                    //Math.round(x*100)/100
                    $("#ys_" + fb_type + "_sjmll").val(Math.round(fb_sjmll * 10000)/100 + "%");
                }
            });
        }
        //single total_mll
        function get_single_total_mll(domDiv){
            var fb_dwbj = $("#ys_hj_cg_dwbj").val() || 0.00;
            var fb_nkje = $("#ys_hj_cg_nkje").val() || 0.00;
            var fb_kgmll = 0.00;
            if(fb_dwbj > 0.00 ){
                fb_kgmll = (parseFloat(fb_dwbj) - parseFloat(fb_nkje))/parseFloat(fb_dwbj) ;
            }
            //Math.round(x*100)/100
            $("#ys_hj_cg_kgmll").val(Math.round(fb_kgmll * 10000)/100 + "%");
            //
/*            var fb_customer_vo = $("#ys_hj_customer_vo").val() || 0.00;
            var fb_sjcb = $("#ys_hj_sjcb").val() || 0.00;
            var fb_fb_vo = $("#ys_hj_fb_vo").val() || 0.00;
            var fb_sjmll = 0.00;
            if(fb_dwbj > 0.00 ){
                fb_sjmll = (parseFloat(fb_dwbj) + parseFloat(fb_customer_vo) - parseFloat(fb_sjcb) - parseFloat(fb_fb_vo))/(parseFloat(fb_dwbj) + parseFloat(fb_customer_vo)) ;
                //Math.round(x*100)/100
                $("#ys_hj_sjmll").val(Math.round(fb_sjmll * 10000)/100 + "%");
            }*/
        }
        //------------------------------------------------------------------------------------
        //dwbj
        add_single_hj_event("module_xmcbgl","dwbj","ys_hj_cg_dwbj");
        $("#ys_hj_cg_dwbj").val(parseFloat($("#ys_cg_all_dwbj").val()) || 0.00);
        //nkje
        add_single_hj_event("module_xmcbgl","nkje","ys_hj_cg_nkje");
        $("#ys_hj_cg_nkje").val(parseFloat($("#ys_cg_all_nkje").val()) || 0.00);
        //cg customer vo,fb vo
        add_single_hj_event("module_xmcbgl","customer_vo","ys_hj_cg_customer_vo");
        //
        $.when(get_all_vo_hj("customer"),get_all_vo_hj("fb"))
                .done(function(){
                    get_comm_mll("module_xmcbgl","jb_kgmll");
                    get_comm_mll("module_xmcbgl","jb_sjmll");
                    get_comm_total_mll("module_xmcbgl");
                    //single
                    get_single_mll("module_xmcbgl","jb_single_kgmll");
                    get_single_total_mll("module_xmcbgl");

                });
        //-------------------------------------------------------------------------------------------
    });
</script>
<style type="text/css">
/*    table
    {
        border-collapse: collapse;
        border: none;
        width: 200px;
    }
    td
    {
        border: solid #000 1px;
    }*/
</style>

<div id="customer_dialog">
    <div id="customer_zx_dialog">
        <table id="customer_zx_dg"></table>
        <div id="customer_pzx_dg"></div>
    </div>
    <div id="customer_dq_dialog">
        <table id="customer_dq_dg"></table>
        <div id="customer_pdq_dg"></div>
    </div>
    <div id="customer_kt_dialog">
        <table id="customer_kt_dg"></table>
        <div id="customer_pkt_dg"></div>
    </div>
    <div id="customer_xf_dialog">
        <table id="customer_xf_dg"></table>
        <div id="customer_pxf_dg"></div>
    </div>
    <div id="customer_jps_dialog">
        <table id="customer_jps_dg"></table>
        <div id="customer_pjps_dg"></div>
    </div>
    <div id="customer_it_dialog">
        <table id="customer_it_dg"></table>
        <div id="customer_pit_dg"></div>
    </div>
    <div id="customer_sec_dialog">
        <table id="customer_sec_dg"></table>
        <div id="customer_psec_dg"></div>
    </div>
    <div id="customer_av_dialog">
        <table id="customer_av_dg"></table>
        <div id="customer_pav_dg"></div>
    </div>
    <div id="customer_cg_dialog">
        <table id="customer_cg_dg"></table>
        <div id="customer_pcg_dg"></div>
    </div>
 </div>
<div id="fb_dialog">
    <div id="fb_zx_dialog">
        <table id="fb_zx_dg"></table>
        <div id="fb_pzx_dg"></div>
    </div>
    <div id="fb_dq_dialog">
        <table id="fb_dq_dg"></table>
        <div id="fb_pdq_dg"></div>
    </div>
    <div id="fb_kt_dialog">
        <table id="fb_kt_dg"></table>
        <div id="fb_pkt_dg"></div>
    </div>
    <div id="fb_xf_dialog">
        <table id="fb_xf_dg"></table>
        <div id="fb_pxf_dg"></div>
    </div>
    <div id="fb_jps_dialog">
        <table id="fb_jps_dg"></table>
        <div id="fb_pjps_dg"></div>
    </div>
    <div id="fb_it_dialog">
        <table id="fb_it_dg"></table>
        <div id="fb_pit_dg"></div>
    </div>
    <div id="fb_sec_dialog">
        <table id="fb_sec_dg"></table>
        <div id="fb_psec_dg"></div>
    </div>
    <div id="fb_av_dialog">
        <table id="fb_av_dg"></table>
        <div id="fb_pav_dg"></div>
    </div>
</div>

<div id="module_xmcbgl" class="module">
    <h3><a href="#">项目成本管理</a></h3>
    <div>
        <table>
            <tr>
                <td>项目财务编号：</td>
                <td><input type="text" id="ht_xmcwbh" name="ht_xmcwbh" jb_field="jb_single_save"/></td>
                <td>合同金额：</td>
                <td><input type="text" id="ys_hetong_amt" name="ys_hetong_amt" /></td>
                <td>合同结算总金额：</td>
                <td><input type="text" id="ys_hetong_js_amt" name="ys_hetong_js_amt" /></td>
            </tr>
            <tr>
                <td>投标毛利率：</td>
                <td><input type="text" id="ys_tb_mll" name="ys_tb_mll" jb_field="jb_single_save"/></td>
                <td>开工毛利率：</td>
                <td><input type="text" id="ys_kg_mlldouble" name="ys_tb_mll" /></td>
                <td>实际毛利率：</td>
                <td><input type="text" id="ys_sj_mlldouble" name="ys_sj_mlldouble" /></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>&nbsp;</td>
                <td style="width:50px;">&nbsp;</td>
                <td>对外报价</td>
                <td>客户VO</td>
                <td>内控金额</td>
                <td>开工毛利率</td>
                <td>实际成本</td>
                <td>实际成本变化
                <td>实际毛利率</td>
                <td>说明</td>
            </tr>
            <tr>
                <td rowspan=10>分包：</td>
                <td>装修</td>
                <td><input type="text" id="ys_zx_dwbj" name="ys_zx_dwbj" jb_hj="dwbj" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_zx_customer_vo" name="ys_zx_customer_vo" jb_hj="customer_vo" jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_zx_nkje" name="ys_zx_nkje" jb_hj="nkje" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_zx_kgmll" name="ys_zx_kgmll" jb_kgmll="zx"/></td>
                <td><input type="text" id="ys_zx_sjcb" name="ys_zx_sjcb" jb_hj="sjcb" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_zx_fb_vo" name="ys_zx_fb_vo" jb_hj="fb_vo" jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_zx_sjmll" name="ys_zx_sjmll" jb_sjmll="zx"/></td>
                <td><input type="text" id="ys_zx_sm" name="ys_zx_sm" jb_field="jb_single_save"/></td>
            </tr>
            <tr>
                <td>电气</td>
                <td><input type="text" id="ys_dq_dwbj" name="ys_dq_dwbj" jb_hj="dwbj" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_dq_customer_vo" name="ys_dq_customer_vo" jb_hj="customer_vo" jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_dq_nkje" name="ys_dq_nkje" jb_hj="nkje" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_dq_kgmll" name="ys_dq_kgmll" jb_kgmll="dq"/></td>
                <td><input type="text" id="ys_dq_sjcb" name="ys_dq_sjcb" jb_hj="sjcb" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_dq_fb_vo" name="ys_dq_fb_vo" jb_hj="fb_vo" jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_dq_sjmll" name="ys_dq_sjmll" jb_sjmll="dq"/></td>
                <td><input type="text" id="ys_dq_sm" name="ys_dq_sm" jb_field="jb_single_save"/></td>
            </tr>
            <tr>
                <td>空调</td>
                <td><input type="text" id="ys_kt_dwbj" name="ys_kt_dwbj" jb_hj="dwbj" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_kt_customer_vo" name="ys_kt_customer_vo" jb_hj="customer_vo" jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_kt_nkje" name="ys_kt_nkje" jb_hj="nkje" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_kt_kgmll" name="ys_kt_kgmll" jb_kgmll="kt"/></td>
                <td><input type="text" id="ys_kt_sjcb" name="ys_kt_sjcb" jb_hj="sjcb" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_kt_fb_vo" name="ys_kt_fb_vo" jb_hj="fb_vo" jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_kt_sjmll" name="ys_kt_sjmll" jb_sjmll="kt"/></td>
                <td><input type="text" id="ys_kt_sm" name="ys_kt_sm" jb_field="jb_single_save"/></td>
            </tr>
            <tr>
                <td>消防</td>
                <td><input type="text" id="ys_xf_dwbj" name="ys_xf_dwbj" jb_hj="dwbj" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_xf_customer_vo" name="ys_xf_customer_vo" jb_hj="customer_vo" jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_xf_nkje" name="ys_xf_nkje" jb_hj="nkje" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_xf_kgmll" name="ys_xf_kgmll" jb_kgmll="xf"/></td>
                <td><input type="text" id="ys_xf_sjcb" name="ys_xf_sjcb" jb_hj="sjcb" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_xf_fb_vo" name="ys_xf_fb_vo" jb_hj="fb_vo" jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_xf_sjmll" name="ys_xf_sjmll" jb_sjmll="xf"/></td>
                <td><input type="text" id="ys_xf_sm" name="ys_xf_sm" jb_field="jb_single_save"/></td>
            </tr>
            <tr>
                <td>给排水</td>
                <td><input type="text" id="ys_jps_dwbj" name="ys_jps_dwbj" jb_hj="dwbj" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_jps_customer_vo" name="ys_jps_customer_vo" jb_hj="customer_vo" jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_jps_nkje" name="ys_jps_nkje" jb_hj="nkje" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_jps_kgmll" name="ys_jps_kgmll" jb_kgmll="jps"/></td>
                <td><input type="text" id="ys_jps_sjcb" name="ys_jps_sjcb" jb_hj="sjcb" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_jps_fb_vo" name="ys_jps_fb_vo" jb_hj="fb_vo" jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_jps_sjmll" name="ys_jps_sjmll" jb_sjmll="jps"/></td>
                <td><input type="text" id="ys_jps_sm" name="ys_jps_sm" jb_field="jb_single_save"/></td>
            </tr>
            <tr>
                <td>IT</td>
                <td><input type="text" id="ys_it_dwbj" name="ys_it_dwbj" jb_hj="dwbj" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_it_customer_vo" name="ys_it_customer_vo" jb_hj="customer_vo" jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_it_nkje" name="ys_it_nkje" jb_hj="nkje" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_it_kgmll" name="ys_it_kgmll" jb_kgmll="it"/></td>
                <td><input type="text" id="ys_it_sjcb" name="ys_it_sjcb" jb_hj="sjcb" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_it_fb_vo" name="ys_it_fb_vo"  jb_hj="fb_vo" jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_it_sjmll" name="ys_it_sjmll" jb_sjmll="it"/></td>
                <td><input type="text" id="ys_it_sm" name="ys_it_sm" jb_field="jb_single_save"/></td>
            </tr>
            <tr>
                <td>SEC</td>
                <td><input type="text" id="ys_sec_dwbj" name="ys_sec_dwbj" jb_hj="dwbj" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_sec_customer_vo" name="ys_sec_customer_vo" jb_hj="customer_vo" jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_sec_nkje" name="ys_sec_nkje" jb_hj="nkje" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_sec_kgmll" name="ys_sec_kgmll" jb_kgmll="sec"/></td>
                <td><input type="text" id="ys_sec_sjcb" name="ys_sec_sjcb" jb_hj="sjcb" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_sec_fb_vo" name="ys_sec_fb_vo" jb_hj="fb_vo" jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_sec_sjmll" name="ys_sec_sjmll" jb_sjmll="sec"/></td>
                <td><input type="text" id="ys_sec_sm" name="ys_sec_sm" jb_field="jb_single_save"/></td>
            </tr>
            <tr>
                <td>AV</td>
                <td><input type="text" id="ys_av_dwbj" name="ys_av_dwbj" jb_hj="dwbj" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_av_customer_vo" name="ys_av_customer_vo" jb_hj="customer_vo"  jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_av_nkje" name="ys_av_nkje" jb_hj="nkje" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_av_kgmll" name="ys_av_kgmll" jb_kgmll="av"/></td>
                <td><input type="text" id="ys_av_sjcb" name="ys_av_sjcb" jb_hj="sjcb" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_av_fb_vo" name="ys_av_fb_vo" jb_hj="fb_vo" jb_field="jb_multi_save"/></td>
                <td><input type="text" id="ys_av_sjmll" name="ys_av_sjmll" jb_sjmll="av"/></td>
                <td><input type="text" id="ys_av_sm" name="ys_av_sm" jb_field="jb_single_save"/></td>
            </tr>
            <tr>
                <td colspan="9">&nbsp;</td>
            </tr>
            <tr>
                <td><h3>小计：</h3></td>
                <td><input type="text" id="ys_hj_dwbj" name="ys_hj_dwbj" readonly="true"/></td>
                <td><input type="text" id="ys_hj_customer_vo" name="ys_hj_customer_vo" readonly="true"/></td>
                <td><input type="text" id="ys_hj_nkje" name="ys_hj_nkje" readonly="true"/></td>
                <td><input type="text" id="ys_hj_kgmll" name="ys_hj_kgmll" readonly="true"/></td>
                <td><input type="text" id="ys_hj_sjcb" name="ys_hj_sjcb" readonly="true"/></td>
                <td><input type="text" id="ys_hj_fb_vo" name="ys_hj_fb_vo"  readonly="true"/></td>
                <td><input type="text" id="ys_hj_sjmll" name="ys_hj_sjmll" readonly="true"/></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="9">&nbsp;</td>
            </tr>
            <tr>
                <td rowspan=6>采购：</td>
                <td>装修材料采购</td>
                <td rowspan=4><input type="text" id="ys_cg_all_dwbj" name="ys_cg_all_dwbj" jb_single_hj="dwbj" jb_field="jb_single_save"/></td>
                <td rowspan=4><input type="text" id="ys_cg_customer_vo" name="ys_cg_customer_vo" jb_single_hj="customer_vo" jb_field="jb_multi_save"/></td>
                <td rowspan=4><input type="text" id="ys_cg_all_nkje" name="ys_cg_all_nkje" jb_single_hj="nkje" jb_field="jb_single_save"/></td>
                <td rowspan=4><input type="text" id="ys_cg_all_kgmll" name="ys_cg_all_kgmll" jb_single_kgmll="cg_all" /></td>
                <td><input type="text" id="ys_cl_sjcb" name="ys_zx_sjcb" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_cl_sjcbbh" name="ys_zx_sjcbbh" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_cl_sjml" name="ys_zx_sjml" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_cl_sm" name="ys_zx_sm" jb_field="jb_single_save"/></td>
            </tr>
            <tr>
                <td>机电设备采购</td>
                <td><input type="text" id="ys_jd_sjcb" name="ys_dq_sjcb" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_jd_sjcbbh" name="ys_dq_sjcbbh" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_jd_sjml" name="ys_dq_sjml" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_jd_sm" name="ys_dq_sm" jb_field="jb_single_save"/></td>
            </tr>
            <tr>
                <td>工厂库存及零星材料采购总金额</td>
                <td><input type="text" id="ys__sjcb" name="ys_kt_sjcb" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys__sjcbbh" name="ys_kt_sjcbbh" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys__sjml" name="ys_kt_sjml" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys__sm" name="ys_kt_sm" jb_field="jb_single_save"/></td>
            </tr>
            <tr>
                <td>工厂人工费</td>
                <td><input type="text" id="ys_1xf_sjcb" name="ys_xf_sjcb" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_1xf_sjcbbh" name="ys_xf_sjcbbh" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_1xf_sjml" name="ys_xf_sjml" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_1xf_sm" name="ys_xf_sm" jb_field="jb_single_save"/></td>
            </tr>
            <tr>
                <td colspan="9">&nbsp;</td>
            </tr>
            <tr>
                <td><h3>小计：</h3></td>
                <td><input type="text" id="ys_hj_cg_dwbj" name="ys_hj_cg_dwbj" readonly="true"/></td></td>
                <td><input type="text" id="ys_hj_cg_customer_vo" name="ys_hj_cg_customer_vo" readonly="true"/></td>
                <td><input type="text" id="ys_hj_cg_nkje" name="ys_hj_cg_nkje" readonly="true"/></td>
                <td><input type="text" id="ys_hj_cg_kgmll" name="ys_hj_cg_kgmll" readonly="true"/></td>
                <td><input type="text" id="ys_1sjcb" name="ys_sjcb" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_1sjcbbh" name="ys_sjcbbh" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_1sjml" name="ys_sjml" jb_field="jb_single_save"/></td>
                <td><input type="text" id="ys_1sm" name="ys_sm" jb_field="jb_single_save"/></td>
            </tr>
        </table>
    </div>
</div>